.color-nav {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    background-color: none;
}

.me-auto{
    padding-left: 200px;
    padding-right: 30px;
    margin-left: 200px;
    margin-right: 30px;
  font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #F0D7B1;
}

Nav.Link {
color: #F0D7B1;
}

